*{
	margin: 0px;
	padding: 0px;
}
.head{
	width: 1023PX;
	height: 72px;
	margin: auto;
}
.head-1,
.head-2,
.head-3{
	float: left;
}
.head-1{
	width: 120px;
	height: 72px;
}
.head-1 img{
	width: 120px;
	height: 25px;
	margin: 24px 0;
}
.head-2{
	width: 700px;
	height: 72px;
	
}
.head-2 li{
	width: 150px;
	line-height: 72px;
	}
.head-2 li,.head-3 li{
	text-align: center;
	float: left;
	list-style: none;
	
	
}
.head-2 li a{
	color:#2c2c2c;
	text-decoration: none;
}
.head-2 li a:hover{
	color:orange;
}
.head-3{
	float: right;
}
.head-3 li{
	line-height: 72px;
	margin: 0 2px;
	
}
.head-3 li img{
	height: 18px;
	margin: -4px 0;
}
.cmain{
	width: 100%;
	height: 850spx;
	background-color: #f4f4f4;
}
.cmain-1{
	width: 100%;
	height: 38px;
	background-color: #d8d8d8;
}
.cmain-1-a{
	width: 1023px;
	height: 38px;
	margin: auto;
}
.cmain-1-a>p{
	font-size: 15px;
	color:#8d8d8d;
	line-height: 38px;
}
.lmain{
	width: 100%;
	height: 1060px;
	background-color: #f4f4f4;
}
.lmain-1{
	width: 1023px;
	height: 750px;
	margin: auto;
}
.lmain-1>img{
	width: 100%;
}
.lmain-2{
	position: relative;
	top: -160px;
	width: 750px;
	height: 520px;
	border: 1px solid #626262;
	margin: auto;
}
.lmain-2>p{
	line-height: 50px;
	margin-left: 32px;
	font-size: 21px;
	font-weight: 500;
}
.lmain-2>ul>li{
	line-height: 25px;
	font-size: 15px;
	
	color: #8d8d8d;
	list-style: none;
	width: 800px;
	height: 45px;
	margin-left: 30px;
}
.foot-2{
	width: 100%;
	height: 42px;
	background-color: #888888;
}
.foot-2-a{
	width: 1023px;
	height: 42px;
	margin: auto;

}
.foot-2-a ul li{
	list-style: none;
	display: inline-block;
	margin-left: 10px;
	text-decoration: none;	
	color: white;
	line-height: 42px;
}
.foot-2-a a{
	color: white;
	text-decoration: none;
}
.foot-2-a>p{
	display: inline-block;
}
.foot-2-a >ul>li>a{
	font-size: 15px;
	
}
.foot-2-a >ul>li>a:hover{
	color: gold;
}



